In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

-----DID THESE STEPS IN EACH PROGRAM------
STEP 1: driver connection
STEP2: link with autonomous website
STEP3: search access
STEP4: empty list creation to scrape necessary articles
STEP5: print/df representation

# Q2

In [16]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [36]:
driver.get('http://www.bcci.tv/')

In [49]:

title=[]

title_tags=driver.find_elements(By.XPATH,'//h5[@class="fix-text"]')
for i in title_tags[0:10]:
    title.append(i.text)
    
print('-----Series-----','\n',title)

print('-----------------------------------------------------------------------------------------------------------------------')
match=[]
match_tags=driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
for i in match_tags[0:10]:
    match.append(i.text)
    
print('---Matches----','\n',match)

print('-----------------------------------------------------------------------------------------------------------------------')

date=[]
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
for i in date_tags[0:10]:
    date.append(i.text)
    
print('----Date----','\n',date)

print('-----------------------------------------------------------------------------------------------------------------------')

time=[]
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
for i in time_tags[0:10]:
    time.append(i.text)
print("Time",'\n',time)

print('-----------------------------------------------------------------------------------------------------------------------')

import pandas as pd
df_match=pd.DataFrame({'Series':title,'Match':match,'Date':date,'Time':time})
df_match

-----Series-----
 ['', 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', '', 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', '', 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23', '', 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19', '', 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23']
-----------------------------------------------------------------------------------------------------------------------
---Matches----
 ['India Women U19\nvs\nSouth Africa Women U19', 'India Women U19\nvs\nSouth Africa Women U19', 'India\nvs\nSri Lanka', 'India Women U19\nvs\nSouth Africa Women U19', 'India\nvs\nSri Lanka', 'India\nvs\nSri Lanka', 'India\nvs\nSri Lanka', 'India\nvs\nSri Lanka', 'India\nvs\nSri Lanka', 'India\nvs\nNew Zealand']
-----------------------------------------------------------------------------------------------------------------------
----Date----
 ['31 DEC 2022', '2 JAN 2023', '3 JAN 2023', '4 JAN 2023', '5 JAN 2023', '7 JAN 2023', '10 JAN 2023', '12 JAN 2023', '15 JAN 2023', '18 JAN 2023']
-----------------------------------------------------------------------------------------------------------------------
Time
 ['1:30 PM IST', '5:15 PM IST', '7:00 PM IST', '1:30 PM IST', '7:00 PM IST', '7:00 PM IST', '1:30 PM IST', '1:30 PM IST', '1:30 PM IST', '1:30 PM IST']
-----------------------------------------------------------------------------------------------------------------------

,Series,Match,Date,Time
0,,India Women U19\nvs\nSouth Africa Women U19,31 DEC 2022,1:30 PM IST
1,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,India Women U19\nvs\nSouth Africa Women U19,2 JAN 2023,5:15 PM IST
2,,India\nvs\nSri Lanka,3 JAN 2023,7:00 PM IST
3,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,India Women U19\nvs\nSouth Africa Women U19,4 JAN 2023,1:30 PM IST
4,,India\nvs\nSri Lanka,5 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nSri Lanka,7 JAN 2023,7:00 PM IST
6,,India\nvs\nSri Lanka,10 JAN 2023,1:30 PM IST
7,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,India\nvs\nSri Lanka,12 JAN 2023,1:30 PM IST
8,,India\nvs\nSri Lanka,15 JAN 2023,1:30 PM IST
9,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nNew Zealand,18 JAN 2023,1:30 PM IST

# Q5

In [4]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [5]:
driver.get('https://github.com/search?q=trending+repository')

In [13]:
repo=[]
repo_tags=driver.find_elements(By.XPATH,'//div[@class="f4 text-normal"]')
for i in repo_tags[0:9]:
    repo.append(i.text)
repo

['QasimWani/LeetHub',
 'vitalets/github-trending-repos',
 'mbadry1/Trending-Deep-Learning',
 'laowch/GithubTrends',
 'ophobe/trending',
 'zhuowenli/githuber',
 'andygrunwald/TrendingGithub',
 'andygrunwald/go-trending',
 'karlrupp/microprocessor-trend-data']

In [14]:
des=[]
des_tags=driver.find_elements(By.XPATH,'//p[@class="mb-1"]')
for i in des_tags[0:9]:
    des.append(i.text)
des

['Automatically sync your leetcode solutions to your github account - top 5 trending GitHub repository',
 'Track GitHub trending repositories in your favorite programming language by native GitHub notifications!',
 'Top 100 trending deep learning repositories sorted by the number of stars gained on a specific day.',
 "It's a GitHub Trending repositories Viewer with Material Design.",
 'Dataset of trending repositories on GitHub',
 'Display Github Trending repositories on Chrome New Tab Extensions',
 'A twitter bot (@TrendingGithub) to tweet trending repositories and developers from GitHub',
 'Go library for accessing trending repositories and developers at Github.',
 'Data repository for my blog series on microprocessor trend data.']

In [15]:
cont_count=[]
cont=driver.find_elements(By.XPATH,'//a[@class="Link--muted"]')
for i in cont[0:9]:
    cont_count.append(i.text)
cont_count

['2.8k', '2.4k', '574', '634', '59', '458', '111', '122', '350']

In [12]:
lang=[]
lang_tags=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang_tags:
    lang.append(i.text)
lang

['JavaScript',
 'HTML',
 'Python',
 'Java',
 'JavaScript',
 'Go',
 'Go',
 'Gnuplot',
 'Java']

In [16]:
df=pd.DataFrame({'REPOSITORY':repo,'LANGUAGE':lang,'CONTRIBUTION COUNT':cont_count,'DESCRIPTION':des})
df

,REPOSITORY,LANGUAGE,CONTRIBUTION COUNT,DESCRIPTION
0,QasimWani/LeetHub,JavaScript,2.8k,Automatically sync your leetcode solutions to ...
1,vitalets/github-trending-repos,HTML,2.4k,Track GitHub trending repositories in your fav...
2,mbadry1/Trending-Deep-Learning,Python,574,Top 100 trending deep learning repositories so...
3,laowch/GithubTrends,Java,634,It's a GitHub Trending repositories Viewer wit...
4,ophobe/trending,JavaScript,59,Dataset of trending repositories on GitHub
5,zhuowenli/githuber,Go,458,Display Github Trending repositories on Chrome...
6,andygrunwald/TrendingGithub,Go,111,A twitter bot (@TrendingGithub) to tweet trend...
7,andygrunwald/go-trending,Gnuplot,122,Go library for accessing trending repositories...
8,karlrupp/microprocessor-trend-data,Java,350,Data repository for my blog series on micropro...

# Q9

In [20]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [21]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [24]:
tvseries=[]
tvseries_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in tvseries_tags[0:50]:
    tvseries.append(i.text)
tvseries

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016– )',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)',
 '6. Orange Is the New Black (2013–2019)',
 '7. Riverdale (2017– )',
 "8. Grey's Anatomy (2005– )",
 '9. The Flash (2014–2023)',
 '10. Arrow (2012–2020)',
 '11. Money Heist (2017–2021)',
 '12. The Big Bang Theory (2007–2019)',
 '13. Black Mirror (2011–2019)',
 '14. Sherlock (2010–2017)',
 '15. Vikings (2013–2020)',
 '16. Pretty Little Liars (2010–2017)',
 '17. The Vampire Diaries (2009–2017)',
 '18. American Horror Story (2011– )',
 '19. Breaking Bad (2008–2013)',
 '20. Lucifer (2016–2021)',
 '21. Supernatural (2005–2020)',
 '22. Prison Break (2005–2017)',
 '23. How to Get Away with Murder (2014–2020)',
 '24. Teen Wolf (2011–2017)',
 '25. The Simpsons (1989– )',
 '26. Once Upon a Time (2011–2018)',
 '27. Narcos (2015–2017)',
 '28. Daredevil (2015–2018)',
 '29. Friends (1994–2004)',
 '30. How I Met Your Mother (2005–2014)',
 '31. Suits (2011–2019)',
 '32. Mr. Robot (2015–2019)',
 '33. The Originals (2013–2018)',
 '34. Supergirl (2015–2021)',
 '35. Gossip Girl (2007–2012)',
 '36. Sense8 (2015–2018)',
 '37. Gotham (2014–2019)',
 '38. Westworld (2016–2022)',
 '39. Jessica Jones (2015–2019)',
 '40. Modern Family (2009–2020)',
 '41. Rick and Morty (2013– )',
 '42. Shadowhunters (2016–2019)',
 '43. The End of the F***ing World (2017–2019)',
 '44. House of Cards (2013–2018)',
 '45. Dark (2017–2020)',
 '46. Elite (2018– )',
 '47. Sex Education (2019– )',
 '48. Shameless (2011–2021)',
 '49. New Girl (2011–2018)',
 '50. Agents of S.H.I.E.L.D. (2013–2020)']

In [26]:
rating=[]
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')[0:50]:
    rating.append(i.text)
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5']

In [29]:
runtime=[]
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]')[0:50]:
    runtime.append(i.text)
runtime

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min']

In [31]:
genre=[]
for i in driver.find_elements(By.XPATH,'//span[@class="genre"]')[0:50]:
    genre.append(i.text)
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama']

In [34]:
votes=[]
for i in driver.find_elements(By.XPATH,'//span[@name="nv"]')[0:50]:
    votes.append(i.text)
votes

['2,099,670',
 '1,189,934',
 '993,954',
 '294,153',
 '253,264',
 '303,862',
 '146,008',
 '310,684',
 '347,214',
 '432,716',
 '478,644',
 '810,258',
 '549,139',
 '927,950',
 '534,054',
 '168,555',
 '323,491',
 '321,014',
 '1,885,551',
 '326,192',
 '447,533',
 '537,363',
 '152,944',
 '149,712',
 '408,874',
 '226,021',
 '423,921',
 '442,340',
 '997,720',
 '685,547',
 '412,639',
 '389,124',
 '137,162',
 '124,710',
 '176,172',
 '155,394',
 '231,462',
 '506,810',
 '215,773',
 '432,850',
 '525,511',
 '64,459',
 '192,578',
 '505,864',
 '390,539',
 '80,471',
 '283,218',
 '244,559',
 '226,116',
 '218,014']

In [35]:
df=pd.DataFrame({'TVSERIES':tvseries,'GENRE':genre,'RATING':rating,'RUNTIME':runtime,'VOTES':votes})
df

,TVSERIES,GENRE,RATING,RUNTIME,VOTES
0,1. Game of Thrones (2011–2019),"Action, Adventure, Drama",9.2,57 min,"2,099,670"
1,2. Stranger Things (2016– ),"Drama, Fantasy, Horror",8.7,51 min,"1,189,934"
2,3. The Walking Dead (2010–2022),"Drama, Horror, Thriller",8.1,44 min,"993,954"
3,4. 13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",7.5,60 min,"294,153"
4,5. The 100 (2014–2020),"Drama, Mystery, Sci-Fi",7.6,43 min,"253,264"
5,6. Orange Is the New Black (2013–2019),"Comedy, Crime, Drama",8.1,59 min,"303,862"
6,7. Riverdale (2017– ),"Crime, Drama, Mystery",6.6,45 min,"146,008"
7,8. Grey's Anatomy (2005– ),"Drama, Romance",7.6,41 min,"310,684"
8,9. The Flash (2014–2023),"Action, Adventure, Drama",7.6,43 min,"347,214"
9,10. Arrow (2012–2020),"Action, Adventure, Crime",7.5,42 min,"432,716"
10,11. Money Heist (2017–2021),"Action, Crime, Drama",8.2,70 min,"478,644"
11,12. The Big Bang Theory (2007–2019),"Comedy, Romance",8.2,22 min,"810,258"
12,13. Black Mirror (2011–2019),"Drama, Mystery, Sci-Fi",8.8,60 min,"549,139"
13,14. Sherlock (2010–2017),"Crime, Drama, Mystery",9.1,88 min,"927,950"
14,15. Vikings (2013–2020),"Action, Adventure, Drama",8.5,44 min,"534,054"
15,16. Pretty Little Liars (2010–2017),"Drama, Mystery, Romance",7.4,44 min,"168,555"
16,17. The Vampire Diaries (2009–2017),"Drama, Fantasy, Horror",7.7,43 min,"323,491"
17,18. American Horror Story (2011– ),"Drama, Horror, Sci-Fi",8,60 min,"321,014"
18,19. Breaking Bad (2008–2013),"Crime, Drama, Thriller",9.5,49 min,"1,885,551"
19,20. Lucifer (2016–2021),"Crime, Drama, Fantasy",8.1,42 min,"326,192"
20,21. Supernatural (2005–2020),"Drama, Fantasy, Horror",8.4,44 min,"447,533"
21,22. Prison Break (2005–2017),"Action, Crime, Drama",8.3,44 min,"537,363"
22,23. How to Get Away with Murder (2014–2020),"Crime, Drama, Mystery",8.1,43 min,"152,944"
23,24. Teen Wolf (2011–2017),"Action, Drama, Fantasy",7.7,41 min,"149,712"
24,25. The Simpsons (1989– ),"Animation, Comedy",8.7,22 min,"408,874"
25,26. Once Upon a Time (2011–2018),"Adventure, Fantasy, Romance",7.7,60 min,"226,021"
26,27. Narcos (2015–2017),"Biography, Crime, Drama",8.8,49 min,"423,921"
27,28. Daredevil (2015–2018),"Action, Crime, Drama",8.6,54 min,"442,340"
28,29. Friends (1994–2004),"Comedy, Romance",8.9,22 min,"997,720"
29,30. How I Met Your Mother (2005–2014),"Comedy, Romance",8.3,22 min,"685,547"
30,31. Suits (2011–2019),"Comedy, Drama",8.5,44 min,"412,639"
31,32. Mr. Robot (2015–2019),"Crime, Drama, Thriller",8.6,49 min,"389,124"
32,33. The Originals (2013–2018),"Drama, Fantasy, Horror",8.3,45 min,"137,162"
33,34. Supergirl (2015–2021),"Action, Adventure, Drama",6.2,43 min,"124,710"
34,35. Gossip Girl (2007–2012),"Drama, Romance",7.5,42 min,"176,172"
35,36. Sense8 (2015–2018),"Drama, Mystery, Sci-Fi",8.2,60 min,"155,394"
36,37. Gotham (2014–2019),"Action, Crime, Drama",7.8,42 min,"231,462"
37,38. Westworld (2016–2022),"Drama, Mystery, Sci-Fi",8.5,62 min,"506,810"
38,39. Jessica Jones (2015–2019),"Action, Crime, Drama",7.9,56 min,"215,773"
39,40. Modern Family (2009–2020),"Comedy, Drama, Romance",8.5,22 min,"432,850"
40,41. Rick and Morty (2013– ),"Animation, Adventure, Comedy",9.1,23 min,"525,511"
41,42. Shadowhunters (2016–2019),"Action, Drama, Fantasy",6.5,42 min,"64,459"
42,43. The End of the F***ing World (2017–2019),"Adventure, Comedy, Crime",8.1,25 min,"192,578"
43,44. House of Cards (2013–2018),Drama,8.7,51 min,"505,864"
44,45. Dark (2017–2020),"Crime, Drama, Mystery",8.7,60 min,"390,539"
45,46. Elite (2018– ),"Crime, Drama, Thriller",7.3,60 min,"80,471"
46,47. Sex Education (2019– ),"Comedy, Drama",8.4,45 min,"283,218"
47,48. Shameless (2011–2021),"Comedy, Drama",8.6,46 min,"244,559"
48,49. New Girl (2011–2018),"Comedy, Romance",7.8,22 min,"226,116"
49,50. Agents of S.H.I.E.L.D. (2013–2020),"Action, Adventure, Drama",7.5,45 min,"218,014"

# Q1

In [36]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [37]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [65]:
videoname=[]
for i in driver.find_elements(By.XPATH,'//a[@class="mw-redirect"]')[0:5]:
    videoname.append(i.text)
videoname

['music videos',
 'regional restrictions',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Cocomelon – Nursery Rhymes']

In [64]:
publish_date=[]
for i in driver.find_elements(By.XPATH,'//td[@align="right"]')[0:5]:
    publish_date.append(i.text)
publish_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017']

In [71]:
uploader1=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[1]/td[3]/a'):
    uploader1.append(i.text)
print(uploader1)

uploader2=[]
uploader3=[]
uploader4=[]
uploader5=[]

for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[2]/td[3]/a'):
    
    uploader2.append(i.text)
print(uploader2) 

for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[3]/td[3]'):
    
    uploader3.append(i.text)
print(uploader3) 

for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[4]/td[3]/a'):
    
    uploader4.append(i.text)
print(uploader4) 

for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[5]/td[3]/a'):
    uploader5.append(i.text)
print(uploader5)

["Pinkfong Baby Shark - Kids' Songs & Stories"]
['Luis Fonsi']
['LooLoo Kids']
['Cocomelon – Nursery Rhymes']
['Ed Sheeran']

In [72]:
view=[]
for i in driver.find_elements(By.XPATH,'//td[@align="center"]')[0:15]:
    view.append(i.text)
print(view,'\n\n')

['1.', '12.00', '[A]', '2.', '8.05', '[B]', '3.', '6.57', '[C]', '4.', '5.89', '[D]', '5.', '5.88', '[E]']

# Q8

In [73]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [74]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [85]:
booktitle=[]
for i in driver.find_elements(By.XPATH,'//td[@class="left"]')[0:100]:
    booktitle.append(i.text)
print(booktitle,'/n')

['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.', '4,179,479', 'Bloomsbury', '5', 'Fifty Shades of Grey', 'James, E. L.', '3,758,936', 'Random House', '6', 'Harry Potter and the Goblet of Fire', 'Rowling, J.K.', '3,583,215', 'Bloomsbury', '7', 'Harry Potter and the Chamber of Secrets', 'Rowling, J.K.', '3,484,047', 'Bloomsbury', '8', 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', '3,377,906', 'Bloomsbury', '9', 'Angels and Demons', 'Brown, Dan', '3,193,946', 'Transworld', '10', "Harry Potter and the Half-blood Prince:Children's Edition", 'Rowling, J.K.', '2,950,264', 'Bloomsbury', '11', 'Fifty Shades Darker', 'James, E. L.', '2,479,784', 'Random House', '12', 'Twilight', 'Meyer, Stephenie', '2,315,405', 'Little, Brown Book', '13', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Larsson, Stieg', '2,233,570', 'Quercus', '14', 'Fifty Shades Freed', 'James, E. L.', '2,193,928', 'Random House', '15', 'Lost Symbol,The', 'Brown, Dan', '2,183,031', 'Transworld', '16', 'New Moon', 'Meyer, Stephenie', '2,152,737', 'Little, Brown Book', '17', 'Deception Point', 'Brown, Dan', '2,062,145', 'Transworld', '18', 'Eclipse', 'Meyer, Stephenie', '2,052,876', 'Little, Brown Book', '19', 'Lovely Bones,The', 'Sebold, Alice', '2,005,598', 'Pan Macmillan', '20', 'Curious Incident of the Dog in the Night-time,The', 'Haddon, Mark', '1,979,552', 'Random House'] /n

# Q3

In [86]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [87]:
driver.get('http://www.guru99.com/')

In [88]:
search1=driver.find_element(By.CLASS_NAME,"search-field")

In [89]:
search1.send_keys('selenium exceptions')

In [90]:
search2=driver.find_element(By.CLASS_NAME,"search-submit")
search2.click()

In [108]:
print('ALL EXCEPTIONS ALONG WITH DESCRIPTION------------')
des1=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]'):
    des1.append(i.text)


print(des1)    


des2=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[2]'):
    des2.append(i.text)
print(des2)

des3=[]
des4=[]
des5=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[3]'):
    des3.append(i.text)
print(des3)

for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[4]'):
    des4.append(i.text)
print(des4)

for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[5]'):
    des5.append(i.text)
print(des5)

ALL EXCEPTIONS ALONG WITH DESCRIPTION------------
['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.']
['2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.']
['3. NoSuchElementException: This Exception occurs if an element could not be found.']
['4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.']
['5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.']

# Q7

In [111]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [112]:
driver.get('https://www.naukri.com/')

In [113]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('data science recruiters')

In [114]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [128]:
title=[]
location=[]
company=[]
exp=[]
skill=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')[0:18]:
    title.append(i.text)
print('JOB TITLES','\n',title)

print('------------------------------------------------------------------------------------')

for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')[0:18]:
    exp.append(i.text)
print('EXPERIENCE','\n',exp)

print('------------------------------------------------------------------------------------')

for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')[0:18]:
    location.append(i.text)
print('LOCATION','\n',location)

print('------------------------------------------------------------------------------------')

for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:18]:
    company.append(i.text)
print('COMPANY NAME','\n',company)    

print('------------------------------------------------------------------------------------')

for i in driver.find_elements(By.XPATH,'//li[@class="fleft dot"]')[0:18]:
    skill.append(i.text)
print('SKILL','\n',skill)

df=pd.DataFrame({'COMPANY NAME':company,'TITLE':title,'LOCATION':location,'SKILL':skill,'EXPERIENCE':exp})
df

JOB TITLES
 ['ACN - Applied Intelligence - Finance - Data Science - 09', 'ACN - Applied Intelligence - Finance - Data Science - 09', 'Python - Data Science Analyst', 'ACN - Applied Intelligence - CC - Data Science (IN) - 06', 'ACN - Applied Intelligence - Finance - Data Science - 09', 'ACN - Applied Intelligence - Finance - Data Science - 09', 'ACN - Applied Intelligence - Finance - Data Science - 09', 'Technology Analyst - Data Science / Machine Learning', 'Analyst - Data Science', 'SENIOR MANAGER I, DATA SCIENCE', 'Senior Manager II, Data Science', 'Data Science Professional', 'Data Analyst - Data Science', 'Senior Analyst & AI Lead - Data Science', 'Analyst / Senior Analyst Data Science & Strategy', 'SnapLogic Data Science Practitioner', 'ACN - Applied Intelligence - CC - Data Science (IN) - 09', 'Manager - Data Science']
------------------------------------------------------------------------------------
EXPERIENCE
 ['3-5 Yrs', '3-5 Yrs', '3-5 Yrs', '8-12 Yrs', '3-5 Yrs', '3-5 Yrs', '3-5 Yrs', '3-5 Yrs', '1-4 Yrs', '6-10 Yrs', '6-10 Yrs', '4-8 Yrs', '5-8 Yrs', '2-7 Yrs', '0-6 Yrs', '2-4 Yrs', '2-6 Yrs', '5-8 Yrs']
------------------------------------------------------------------------------------
LOCATION
 ['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bhubaneswar', 'Gurgaon/Gurugram', 'Chennai', 'Mumbai', 'Gurgaon/Gurugram', 'Bangalore/Bengaluru', 'Mumbai', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR', 'Gurgaon/Gurugram', 'Mumbai', 'Gurgaon/Gurugram', 'Mumbai']
------------------------------------------------------------------------------------
COMPANY NAME
 ['Accenture', 'Accenture', 'Infosys', 'Accenture', 'Accenture', 'Accenture', 'Accenture', 'Infosys', 'Visa', 'Walmart', 'Walmart', 'Infosys', 'Awign Enterprises', 'Huquo Consulting Pvt. Ltd', 'AMERICAN EXPRESS', 'Accenture', 'Accenture', 'Morningstar']
------------------------------------------------------------------------------------
SKILL
 ['Computer science', 'Data analysis', 'Healthcare', 'SDK', 'Analytics', 'Publishing', 'Analytical', 'Machine learning', 'Data analysis', 'Machine learning', 'Healthcare', 'SDK', 'Analytics', 'Publishing', 'Analytical', 'Vulnerability assessment', 'python', 'agile methodologies']

,COMPANY NAME,TITLE,LOCATION,SKILL,EXPERIENCE
0,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Bangalore/Bengaluru,Computer science,3-5 Yrs
1,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Bangalore/Bengaluru,Data analysis,3-5 Yrs
2,Infosys,Python - Data Science Analyst,Bhubaneswar,Healthcare,3-5 Yrs
3,Accenture,ACN - Applied Intelligence - CC - Data Science...,Gurgaon/Gurugram,SDK,8-12 Yrs
4,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Chennai,Analytics,3-5 Yrs
5,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Mumbai,Publishing,3-5 Yrs
6,Accenture,ACN - Applied Intelligence - Finance - Data Sc...,Gurgaon/Gurugram,Analytical,3-5 Yrs
7,Infosys,Technology Analyst - Data Science / Machine Le...,Bangalore/Bengaluru,Machine learning,3-5 Yrs
8,Visa,Analyst - Data Science,Mumbai,Data analysis,1-4 Yrs
9,Walmart,"SENIOR MANAGER I, DATA SCIENCE",Bangalore/Bengaluru,Machine learning,6-10 Yrs
10,Walmart,"Senior Manager II, Data Science",Bangalore/Bengaluru,Healthcare,6-10 Yrs
11,Infosys,Data Science Professional,Bangalore/Bengaluru,SDK,4-8 Yrs
12,Awign Enterprises,Data Analyst - Data Science,Bangalore/Bengaluru,Analytics,5-8 Yrs
13,Huquo Consulting Pvt. Ltd,Senior Analyst & AI Lead - Data Science,"New Delhi, Faridabad, Gurgaon/Gurugram, Delhi ...",Publishing,2-7 Yrs
14,AMERICAN EXPRESS,Analyst / Senior Analyst Data Science & Strategy,Gurgaon/Gurugram,Analytical,0-6 Yrs
15,Accenture,SnapLogic Data Science Practitioner,Mumbai,Vulnerability assessment,2-4 Yrs
16,Accenture,ACN - Applied Intelligence - CC - Data Science...,Gurgaon/Gurugram,python,2-6 Yrs
17,Morningstar,Manager - Data Science,Mumbai,agile methodologies,5-8 Yrs

# Q10

In [2]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [4]:
search1=driver.find_element(By.XPATH,'//input[@name="q"]')

In [5]:
search1.send_keys('Details of Datasets')

In [6]:
search2=driver.find_element(By.XPATH,'//input[@name="sa"]')

In [7]:
search2.click()

In [22]:
ds=[]
ds_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]')[0:50]
for i in ds_tags:
    ds.append(i.text)
ds

['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)',
 'Categorical (38)\nNumerical (422)\nMixed (55)',
 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)',
 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)',
 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)',
 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)',
 'Matrix (439)\nNon-Matrix (183)',
 'Table View  List View',
 '2.4 GHZ Indoor Channel Measurements',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7840 ',
 '5 ',
 '2018 ',
 '3D Road Network (North Jutland, Denmark)',
 'Sequential, Text ',
 'Regression, Clustering ',
 'Real ',
 '434874 ',
 '4 ',
 '2013 ',
 '3W dataset',
 'Multivariate, Time-Series ',
 'Classification, Clustering ',
 'Integer, Real ',
 '1984 ',
 '8 ',
 '2019 ',
 '9mers from cullpdb',
 'Sequential ',
 'Classification, Regression ',
 'Real ',
 '158716 ',
 '4 ',
 '2021 ',
 ': Simulated Data set of Iraqi tourism places',
 'Multivariate ',
 'Classification, Clustering ',
 ' ',
 '232 ',
 '16 ',
 '2020 ',
 'A study of Asian Religious and Biblical Texts',
 'Multivariate, Text ',
 'Classification, Clustering ',
 'Integer ',
 '590 ',
 '8265 ',
 '2019 ']

# Q6

In [23]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [24]:
driver.get('https://www.billboard.com/')

In [29]:
search1=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]/div[1]/div/div/div/form/label/input')

In [30]:
search1.send_keys('top 100 songs')

In [31]:
search2=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]/div[1]/div/div/div/form/input')
search2.click()

In [41]:
songs=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="c-gallery-vertical-featured-image__title"]'):
    songs.append(i.text)
    
peak=[]
for i in driver.find_elements(By.XPATH,'//div[@class="c-gallery-vertical-featured-image__description"]'):
    peak.append(i.text)

In [43]:
print('-----------TAYLOR SWIFTS SONGS-----------','\n',songs)
print('--------------PEAK AT----','\n',peak)

-----------TAYLOR SWIFTS SONGS-----------
 ['"Should’ve Said No"', '"Everything Has Changed" ft. Ed Sheeran', '"Tim McGraw"', '"Bejeweled"', '"Eyes Open"', '"Red"', '"Midnight Rain"', '"Ours"', '"Lavender Haze"', '"Mean"', 'Tim McGraw with Taylor Swift, “Highway Don’t Care”', '"Fifteen"', '"22"', '"...Ready for It?"', '"Cardigan"', '"Lover"', '"White Horse"', '"All Too Well (Taylor\'s Version)"', '"Today Was a Fairytale"', 'Boys Like Girls ft. Taylor Swift, "Two Is Better Than One"', '"Willow"', '"Back to December"', '"Delicate"', '"Me!" ft. Brendon Urie', '"You Need to Calm Down"', '"Our Song"', '"Teardrops on My Guitar"', '"Mine"', '"Anti-Hero"', '"Look What You Made Me Do"', '"Style"', '"Wildest Dreams"', '"I Don’t Wanna Live Forever (Fifty Shades Darker)" with Zayn', '"Bad Blood" ft. Kendrick Lamar', '"We Are Never Ever Getting Back Together"', '"I Knew You Were Trouble."', '"Love Story"', '"Blank Space"', '"You Belong With Me"', '"Shake It Off"']
--------------PEAK AT----
 ['Swift’s uptempo country jam, the final single off her 2006 self-titled debut, peaked at No. 33 on the Hot 100.', 'The Red duet peaked at No. 32 on the Hot 100 after being released as a single in 2013.', 'Swift’s Hot 100 debut — the country love song that started it all — reached No. 40 on the Hot 100. It also became her first of 21 top 10s to date on Hot Country Songs.', 'The dazzling Midnights track peaked at No. 6 on the Hot 100.', 'The second Hunger Games soundtrack single from Swift, “Eyes Open” peaked at No. 19 on the Hot 100 following its 2012 release.', 'The rockin’ promo single from the 2012 album of the same name exploded onto the Hot 100 at No. 6.', 'The regretful Midnights track peaked at No. 5 on the Hot 100 in November 2022.', 'Swift’s plaintive, banjo-featuring single off Speak Now debuted and peaked at No. 13 on the Hot 100.', 'The loved-up opening Midnights song peaked at No. 2 on the Hot 100.', 'Swift clapped back at her critics (rumors suggest music industry analyst Bob Lefsetz as the specific target) with “Mean,” which debuted (and peaked) at No. 11 in 2010. The track won Swift a pair of Grammys at the 2012 ceremony: best country song and best country solo performance.', 'Swift revisited her roots and, in the process, teamed with the title subject of her debut hit with this feature on McGraw’s 2013 album Two Lanes of Freedom. The collab drove to No. 22 on the Hot 100.', 'This confessional 2009 song — which shouts out the singer’s original #squad member and best friend Abigail Anderson — evidently resonated with teens everywhere, peaking at No. 23.', 'So “Fifteen” is No. 28 and “22” is No. 27. (Got that?) Another age-centric single, another hit, as the Swift/Max Martin collab “22” was the sixth Red single to hit the Hot 100’s top 20, peaking at No. 20.', 'The song gave Swift a fab honor: when it debuted at its No. 4 Hot 100 peak in September 2017, it became Swift’s 72nd Hot 100 entry … one more than The Beatles’ career total.', '“Cardigan,” the lead single from Swift’s pandemic album Folklore, signaled a return to her singer-songwriter roots as she branched out into the indie and folk music realms. Co-written and produced by The National’s Aaron Dessner, “Cardigan” topped the Hot 100.', 'The title track from Swift’s seventh studio album, released in 2019, found strong public reception after a performance on that year’s MTV Video Music Awards. As the album impacted the Billboard charts, the resulting activity pushed this composition to No. 10 on the Hot 100.', 'The Grammy Award-winning track (best country song, best female country vocal performance) galloped to a No. 13 peak on the Hot 100.', 'When Taylor Swift rerecorded her 2012 LP Red in 2021 as Red (Taylor’s Version), she expanded “All Too Well” to its original 10-minute length. The new version topped the Hot 100 and became the longest song to hit No. 1 on that chart.', 'This ode to a dream date, fittingly off 2010’s Valentine’s Day soundtrack, debuted and peaked at No. 2 on the Hot 100.', 'Power-poppers Boys Like Girls brought in Swift for the assist on this 2009 single, which peaked at No. 18 on the Hot 100.', '“Willow,” the lead single from Taylor Swift’s ninth studio album Evermore, debuted at No. 1 on the Hot 100, continuing in the understated folk singer-songwriter vein of her previous album, Folklore.', 'Rumored to be about Swift’s short-lived relationship with Taylor Lautner, the ballad entered and crested at No. 6 on the Hot 100 in 2010.', 'The fourth Reputation single, a gentle, enveloping midtempo ballad, stood in stark contrast with its three immediate predecessors. The switch-up had welcome results, cruising to No. 12 on the Hot 100 while slowly but steadily rising to top the Pop Songs airplay chart.', 'A 180-degree turn from the dark Reputation, “Me!” is a bouncy, celebratory track that finds Swift at her most saccharine sweet alongside Panic! at The Disco frontman Brendon Urie. The pair’s collab, the lead single from Swift’s 2019 album Lover, surged to No. 2 on the Hot 100.', 'As Swift advocated for Democratic political causes in late 2018, the singer infused an overt political tone into her songs for the first time with this 2019 Lover cut. Its lyrics supported LGBTQ causes, feminism and self-empowerment, and secured a No. 2 Hot 100 hit for the singer’s resume. The video, with many LGBTQ stars making cameos, also ended a multi-year feud with Katy Perry, as the two reunite and embrace in the clip.', 'Swift’s third single, released in 2007, climbed to No. 16 on the Hot 100 and became her first of seven No. 1s to date on Hot Country Songs.', 'Swift’s breakout pop crossover single peaked at No. 13 on the Hot 100 in 2008.', 'The lead single off Speak Now — a rollicking country breakup song — made a No. 3 splash on the Hot 100 in 2010.', 'The lead single off Midnights debuted atop the Hot 100, and remained there for six weeks until Mariah Carey’s seasonal classic, “All I Want Is You,” bumped it from the summit on the chart dated Dec. 17, 2022.', 'The lead single from Swift’s fifth No. 1 Billboard 200 album, Reputation, likewise became her fifth No. 1 song on the Hot 100, reaching the summit in September 2017.', 'We’re up to the top 10, where half the titles are from Swift’s pop opus 1989. Entering the chart after Swift performed the track at the 2014 Victoria’s Secret fashion show, the third single from the album peaked at No. 6.', 'The chemistry of Swift, Max Martin and Shellback remained infallible with “Wildest Dreams,” which peaked at No. 5 on the Hot 100 in November 2015.', 'Swift released the brooding Zayn duet as her first post-1989 single. The Fifty Shades Darker song rose to No. 2 on the Hot 100 in March 2017.', 'Fueled by a #squad-flaunting video (and a highly anticipated appearance by Kendrick Lamar), Swift’s diss track hit No. 1 on the Hot 100 for one week following the clip’s debut at the 2015 Billboard Music Awards.', 'Swift’s first Hot 100 No. 1, the critically-acclaimed single confirmed Swift’s crossover appeal, staying at the top for three weeks following its 2012 release.', 'The irresistible anthem from Red debuted at No. 3 on the Hot 100 in October 2012, eventually peaking at No. 2.', 'The melodic masterpiece, and fairytale-themed lead single off Fearless, peaked at No. 4 on the Hot 100 in 2009.', 'Swift became the first woman to replace herself at No. 1 on the Hot 100, as the second single off 1989 dethroned “Shake It Off.” “Blank Space” spent seven weeks on top in 2014-15.', 'The monster crossover hit dominated airwaves in 2009, peaking at No. 2 on the Hot 100. It also became the first country song to top the all-genre Radio Songs chart (after “Love Story” had reached No. 2) since its start in 1990.', 'Swift’s devil-may-care anthem found her unabashedly looking for pop dominance, and she found it: The single debuted at No. 1 on the Hot 100 and posted four weeks at the top. Plus, its nearly six-month stay in the top 10 alone plays a major role in its status as Swift’s biggest charting single in a career with a multitude of milestones.']

In [46]:
df=pd.DataFrame({'SONGS':songs,'PEAK AT':peak})
df

,SONGS,PEAK AT
0,"""Should’ve Said No""","Swift’s uptempo country jam, the final single ..."
1,"""Everything Has Changed"" ft. Ed Sheeran",The Red duet peaked at No. 32 on the Hot 100 a...
2,"""Tim McGraw""",Swift’s Hot 100 debut — the country love song ...
3,"""Bejeweled""",The dazzling Midnights track peaked at No. 6 o...
4,"""Eyes Open""",The second Hunger Games soundtrack single from...
5,"""Red""",The rockin’ promo single from the 2012 album o...
6,"""Midnight Rain""",The regretful Midnights track peaked at No. 5 ...
7,"""Ours""","Swift’s plaintive, banjo-featuring single off ..."
8,"""Lavender Haze""",The loved-up opening Midnights song peaked at ...
9,"""Mean""",Swift clapped back at her critics (rumors sugg...
10,"Tim McGraw with Taylor Swift, “Highway Don’t C...","Swift revisited her roots and, in the process,..."
11,"""Fifteen""",This confessional 2009 song — which shouts out...
12,"""22""",So “Fifteen” is No. 28 and “22” is No. 27. (Go...
13,"""...Ready for It?""",The song gave Swift a fab honor: when it debut...
14,"""Cardigan""","“Cardigan,” the lead single from Swift’s pande..."
15,"""Lover""",The title track from Swift’s seventh studio al...
16,"""White Horse""",The Grammy Award-winning track (best country s...
17,"""All Too Well (Taylor's Version)""",When Taylor Swift rerecorded her 2012 LP Red i...
18,"""Today Was a Fairytale""","This ode to a dream date, fittingly off 2010’s..."
19,"Boys Like Girls ft. Taylor Swift, ""Two Is Bett...",Power-poppers Boys Like Girls brought in Swift...
20,"""Willow""","“Willow,” the lead single from Taylor Swift’s ..."
21,"""Back to December""",Rumored to be about Swift’s short-lived relati...
22,"""Delicate""","The fourth Reputation single, a gentle, envelo..."
23,"""Me!"" ft. Brendon Urie","A 180-degree turn from the dark Reputation, “M..."
24,"""You Need to Calm Down""",As Swift advocated for Democratic political ca...
25,"""Our Song""","Swift’s third single, released in 2007, climbe..."
26,"""Teardrops on My Guitar""",Swift’s breakout pop crossover single peaked a...
27,"""Mine""",The lead single off Speak Now — a rollicking c...
28,"""Anti-Hero""",The lead single off Midnights debuted atop the...
29,"""Look What You Made Me Do""",The lead single from Swift’s fifth No. 1 Billb...
30,"""Style""","We’re up to the top 10, where half the titles ..."
31,"""Wildest Dreams""","The chemistry of Swift, Max Martin and Shellba..."
32,"""I Don’t Wanna Live Forever (Fifty Shades Dark...",Swift released the brooding Zayn duet as her f...
33,"""Bad Blood"" ft. Kendrick Lamar",Fueled by a #squad-flaunting video (and a high...
34,"""We Are Never Ever Getting Back Together""","Swift’s first Hot 100 No. 1, the critically-ac..."
35,"""I Knew You Were Trouble.""",The irresistible anthem from Red debuted at No...
36,"""Love Story""","The melodic masterpiece, and fairytale-themed ..."
37,"""Blank Space""",Swift became the first woman to replace hersel...
38,"""You Belong With Me""",The monster crossover hit dominated airwaves i...
39,"""Shake It Off""",Swift’s devil-may-care anthem found her unabas...

In [49]:
topsongs=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="c-gallery-vertical-featured-image__title"]'):
    topsongs.append(i.text)
print('----------------------TOP SONGS WITH ARTIST NAME--------------------------','\n',topsongs)

----------------------TOP SONGS WITH ARTIST NAME--------------------------
 ['Tariq, The Gregory Brothers & Recess Therapy, "It\'s Corn"', 'Grupo Firme & Camilo, "Alaska"', 'Blondshell, "Olympus"', 'Nicky Youre & dazy, "Sunroof"', 'MICHELLE, "Pose"', 'd4vd, "Romantic Homicide"', 'Kaytranada & Anderson .Paak, "Twin Flame"', 'Central Cee, "Doja"', 'Rauw Alejandro, "Dime Quién ????"', 'BLACKPINK, "Shut Down"', 'Eliza Rose & Interplanetary Criminal, "B.O.T.A. (Baddest of Them All)"', 'Anitta, "Envolver"', 'Doechii & SZA, "Persuasive"', 'Kelela, "Happy Ending"', 'HitKidd & GloRilla, "F.N.F."', 'FLO, "Cardboard Box"', 'beabadoobee, "Talk"', 'Lil Uzi Vert, "Just Wanna Rock"', 'Carly Rae Jepsen feat. Rufus Wainwright, "The Loneliest Time"', 'Lil Nas X, "Thats What I Want"', 'Cody Johnson, "\'Til You Can\'t"', 'Elton John & Britney Spears, "Hold Me Closer"', 'Chappell Roan, "Casual"', 'Orville Peck, "C\'mon Baby, Cry"', 'Florence + the Machine, "King"', 'Lizzo, "2 Be Loved (Am I Ready)"', 'Vince Staples & Mustard, "Magic"', 'Tove Lo, "No One Dies From Love"', 'Wizkid, "Bad to Me"', 'Ice Spice, "Munch (Feelin\' U)"', 'Grupo Frontera, "No Se Va"', 'Taylor Swift, "Lavender Haze"', 'Rina Sawayama, "This Hell"', 'Kendrick Lamar feat. Blxst and Amanda Reifer, "Die Hard"', 'GAYLE, "abcdefu"', 'HARDY feat. Lainey Wilson, "Wait in the Truck"', 'Megan Thee Stallion, "Plan B"', 'Charlie Puth, "Light Switch"', 'Fred again.. feat. Romy & HAAi, "Lights Out"', 'Pharrell Williams feat. 21 Savage & Tyler, the Creator, "Cash In Cash Out"', 'Rosalía, "Despecha"', 'Maren Morris, "Circles Around This Town"', 'Quavo & Takeoff, "Hotel Lobby (Unc and Phew)"', 'Phoebe Bridgers, "Sidelines"', 'Becky G & Karol G, "MAMIII"', 'Mitski, "Love Me More"', 'Rihanna, "Lift Me Up"', 'Lil Yachty, "Poland"', 'Alex G, "Runner"', 'Latto, "Big Energy"', 'Shervin Hajipour, "Baraye"', 'Let\'s Eat Grandma, "Happy New Year"', 'Beyoncé, "Alien Superstar"', 'Yahritza y Su Esencia, "Soy el Unico"', 'Brandi Carlile feat. Lucius, "You and Me on the Rock"', 'Arctic Monkeys, "There\'d Better Be a Mirrorball"', 'Bizarrap & Quevedo, "Bzrp Music Sessions, Vol. 52"', 'Soccer Mommy, "Shotgun"', 'Maggie Rogers, "That\'s Where I Am"', 'Omar Apollo, "Tamagotchi"', 'Drake, "Sticky"', 'Doja Cat, "Vegas"', 'Paramore, "This Is Why"', 'Sabrina Carpenter, "Vicious"', 'Charli XCX feat. Rina Sawayama, "Beg for You"', 'Nicki Minaj, "Super Freaky Girl"', 'Muni Long, "Hrs and Hrs"', 'Jessie Ware, "Free Yourself"', 'Burna Boy, "Last Last"', 'MUNA, "Anything But Me"', 'The Weeknd, "Out of Time"', 'Yeah Yeah Yeahs feat. Perfume Genius, "Spitting Off the Edge of the World"', 'Post Malone feat. Doja Cat, "I Like You (A Happier Song)"', 'Bad Bunny, "Moscow Mule"', 'Jack Harlow, "First Class"', 'The 1975, "Happiness"', 'Gunna & Future feat. Young Thug, "Pushin P"', 'Karol G, "Provenza"', 'Zach Bryan, "Something in the Orange"', 'Ethel Cain, "American Teenager"', 'Harry Styles, "Music for a Sushi Restaurant"', 'Wet Leg, "Wet Dream"', 'Joji, "Glimpse of Us"', 'Doja Cat, "Woman"', 'Sam Smith & Kim Petras, "Unholy"', 'Beyoncé, "Cuff It"', 'Future feat. Drake & Tems, "Wait for U"', 'SZA, "Shirt"', 'GloRilla & Cardi B, "Tomorrow 2"', 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & ‘Encanto’ Cast, "We Don\'t Talk About Bruno"', 'Dove Cameron, "Boyfriend"', 'Tems, "Free Mind"', 'Rosalía, "Saoko"', 'Kendrick Lamar, "N95"', 'Bad Bunny, "Tití Me Preguntó"', 'Taylor Swift, "Anti-Hero"', 'Lizzo, "About Damn Time"', 'Harry Styles, "As It Was"', 'Beyoncé, "Break My Soul"', 'Steve Lacy, "Bad Habit"']

# Q4

In [78]:
driver=webdriver.Chrome(r"C:\Users\phyed\Desktop\FLIP ROBO ASSIGNMENT\chromedriver_win32\chromedriver.exe")

In [79]:
driver.get('http://statisticstimes.com/')

In [58]:
from selenium.webdriver.support.select import Select
import time
# identify dropdown with Select class
sel = Select(driver.find_element(By.XPATH,"//select[@name='Economy']"))
#select by select_by_visible_text() method
sel.select_by_visible_text("India")
time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//select[@name='Economy']"}
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x00F4F243]
	(No symbol) [0x00ED7FD1]
	(No symbol) [0x00DCD04D]
	(No symbol) [0x00DFC0B0]
	(No symbol) [0x00DFC22B]
	(No symbol) [0x00E2E612]
	(No symbol) [0x00E185D4]
	(No symbol) [0x00E2C9EB]
	(No symbol) [0x00E18386]
	(No symbol) [0x00DF163C]
	(No symbol) [0x00DF269D]
	GetHandleVerifier [0x011E9A22+2655074]
	GetHandleVerifier [0x011DCA24+2601828]
	GetHandleVerifier [0x00FF8C0A+619850]
	GetHandleVerifier [0x00FF7830+614768]
	(No symbol) [0x00EE05FC]
	(No symbol) [0x00EE5968]
	(No symbol) [0x00EE5A55]
	(No symbol) [0x00EF051B]
	BaseThreadInitThunk [0x758C7D69+25]
	RtlInitializeExceptionChain [0x7764BB9B+107]
	RtlClearBits [0x7764BB1F+191]

In [80]:
state=[]
for i in driver.find_elements(By.XPATH,'//td[@class="name"]')[0:28]:
    state.append(i.text)
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim']

In [64]:
gsdp=[]
for i in driver.find_elements(By.XPATH,'//td[@class="data"]')[0:28]:
    gsdp.append(i.text)
gsdp

['-',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '1,845,853',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '-',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '1,631,977',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.77%',
 '165.556']

In [65]:
gsdp2=[]
for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')[0:28]:
    gsdp2.append(i.text)
gsdp2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723']

In [66]:
df=pd.DataFrame({'state':state,'gsdp(19-20)':gsdp,'gsdp(18-19)':gsdp2})
df

               state gsdp(19-20) gsdp(18-19)
0        Maharashtra           -   2,632,792
1         Tamil Nadu      13.94%   1,630,208
2      Uttar Pradesh     399.921   1,584,764
3            Gujarat           -   1,502,899
4          Karnataka   2,039,074   1,493,127
5        West Bengal   1,845,853   1,089,898
6          Rajasthan       8.63%     942,586
7     Andhra Pradesh     247.629     862,957
8          Telangana   1,312,929     861,031
9     Madhya Pradesh   1,215,307     809,592
10            Kerala   1,687,818     781,653
11             Delhi       8.39%     774,870
12           Haryana     240.726     734,163
13             Bihar   1,166,817     530,363
14            Punjab   1,123,982     526,376
15            Odisha           -     487,805
16             Assam       7.96%     315,881
17      Chhattisgarh     228.290     304,063
18         Jharkhand           -     297,204
19       Uttarakhand   1,186,379     245,895
20   Jammu & Kashmir   1,631,977     155,956
21  Himachal Pradesh       7.91%     153,845
22               Goa     226.806      73,170
23           Tripura   1,156,039      49,845
24        Chandigarh   1,091,077      42,114
25        Puducherry   1,253,832      34,433
26         Meghalaya       5.77%      33,481
27            Sikkim     165.556      28,723

In [77]:
#Share,gdp,gsdp info are scrapped by following method----
# identify elements of same classname
l=driver.find_elements(By.CLASS_NAME,"data")
# iterate through list and get text
for i in l[0:28]:
   print("data:"+ i.text)

data:-
data:2,632,792
data:13.94%
data:399.921
data:-
data:2,039,074
data:1,845,853
data:1,630,208
data:8.63%
data:247.629
data:1,312,929
data:1,215,307
data:1,687,818
data:1,584,764
data:8.39%
data:240.726
data:1,166,817
data:1,123,982
data:-
data:1,502,899
data:7.96%
data:228.290
data:-
data:1,186,379
data:1,631,977
data:1,493,127
data:7.91%
data:226.806