In [1]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\phyed\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# ASSIGNMENT SOLVE

#  Q4 .Write s python program to display list of respected former presidents of India(SOLVED)

In [134]:
page_president=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
print(page_president)
soup_president=BeautifulSoup(page_president.content)
soup_president
titles_president=[]
for i in soup_president.find_all('div',class_='presidentListing'):
    titles_president.append(i.text)
print(titles_president)

<Response [200]>
['\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n', '\nShri Pranab Mukherjee (1935-2020)\nTerm of Office: 25 July, 2012 to 25 July, 2017 \nhttp://pranabmukherjee.nic.in\n', '\nSmt Pratibha Devisingh Patil (birth - 1934)\nTerm of Office: 25 July, 2007 to 25 July, 2012 \nhttp://pratibhapatil.nic.in\n', '\nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of Office: 25 July, 2002 to 25 July, 2007 \nhttp://abdulkalam.nic.in\n', '\nShri K. R. Narayanan (1920 - 2005)\nTerm of Office: 25 July, 1997 to 25 July, 2002 \n', '\nDr Shankar Dayal Sharma (1918-1999)\nTerm of Office: 25 July, 1992 to 25 July, 1997 \n', '\nShri R Venkataraman (1910-2009)\nTerm of Office: 25 July, 1987 to 25 July, 1992 \n', '\nGiani Zail Singh (1916-1994)\nTerm of Office: 25 July, 1982 to 25 July, 1987 \n', '\nShri Neelam Sanjiva Reddy (1913-1996)\nTerm of Office: 25 July, 1977 to 25 July, 1982 \n', '\nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm of Office: 24 August, 1974 to 11 February, 1977\n', '\nShri Varahagiri Venkata Giri (1894-1980)\nTerm of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974\n', '\nDr. Zakir Husain (1897-1969)\nTerm of Office: 13 May, 1967 to 3 May, 1969\n', '\nDr. Sarvepalli Radhakrishnan (1888-1975)\nTerm of Office: 13 May, 1962 to 13 May, 1967\n', '\nDr. Rajendra Prasad (1884-1963) \nTerm of Office: 26 January, 1950 to 13 May, 1962\n']

In [135]:
df=pd.DataFrame(titles_president) # converting into data frame 
print(df)

                                                    0
0   \nShri Ram Nath Kovind (birth - 1945)\nTerm of...
1   \nShri Pranab Mukherjee (1935-2020)\nTerm of O...
2   \nSmt Pratibha Devisingh Patil (birth - 1934)\...
3   \nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of ...
4   \nShri K. R. Narayanan (1920 - 2005)\nTerm of ...
5   \nDr Shankar Dayal Sharma (1918-1999)\nTerm of...
6   \nShri R Venkataraman (1910-2009)\nTerm of Off...
7   \nGiani Zail Singh (1916-1994)\nTerm of Office...
8   \nShri Neelam Sanjiva Reddy (1913-1996)\nTerm ...
9   \nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm o...
10  \nShri Varahagiri Venkata Giri (1894-1980)\nTe...
11  \nDr. Zakir Husain (1897-1969)\nTerm of Office...
12  \nDr. Sarvepalli Radhakrishnan (1888-1975)\nTe...
13  \nDr. Rajendra Prasad (1884-1963) \nTerm of Of...

# Q5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape: a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating(SOLVED)

In [136]:
page_cricket=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
print(page_cricket)
soup_cricket=BeautifulSoup(page_cricket.content)
soup_cricket
# scraping multiple titles:
team_names=[]
for i in soup_cricket.find_all('span',class_='u-hide-phablet'):
    team_names.append(i.text)
team_names
df_team_names=pd.DataFrame(team_names)
print(df_team_names)

# scraping multiple matches :

matches_with_points=[]
for i in soup_cricket.find_all('td',class_='table-body__cell u-center-text'):
    matches_with_points.append(i.text)

matches_with_points
df_matches_with_points=pd.DataFrame(matches_with_points)
print(df_matches_with_points)



# scraping rating:

rating=[]
for i in soup_cricket.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
rating
df_rating=pd.DataFrame(rating)
print(df_rating)

<Response [200]>
                   0
0        New Zealand
1            England
2          Australia
3              India
4           Pakistan
5       South Africa
6         Bangladesh
7          Sri Lanka
8        Afghanistan
9        West Indies
10           Ireland
11          Scotland
12          Zimbabwe
13           Namibia
14       Netherlands
15              Oman
16               UAE
17     United States
18             Nepal
19  Papua New Guinea
        0
0      30
1   3,400
2      32
3   3,572
4      35
5   3,866
6      22
7   2,354
8      24
9   2,392
10     30
11  2,753
12     30
13  2,677
14     19
15  1,380
16     41
17  2,902
18     23
19  1,214
20     27
21  1,254
22     26
23  1,098
24     23
25    808
26     21
27    673
28     30
29    919
30     25
31    693
32     31
33    821
34     25
35    476
36     30
37    128
      0
0   113
1   112
2   110
3   107
4   100
5    92
6    89
7    73
8    71
9    53
10   46
11   42
12   35
13   32
14   31
15   28
16   26
17   19
18    4

In [137]:
# Q5.b) Top 10 ODI Batsmen along with the records of their team and rating(SOLVED):

page_player=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
print(page_player)
soup_batsmen=BeautifulSoup(page_player.content)
soup_batsmen

batsmen=[]
for i in soup_batsmen.find_all('td',class_='table-body__cell name'):
    batsmen.append(i.text)
batsmen

team=[]
for j in soup_batsmen.find_all('span',class_='table-body__logo-text'):
    team.append(j.text)
team

ratings=[]
for k in soup_batsmen.find_all('td',class_='table-body__cell u-text-right rating'):
    ratings.append(k.text)
ratings

<Response [200]>

['779',
 '766',
 '759',
 '747',
 '719',
 '710',
 '707',
 '704',
 '701',
 '727',
 '665',
 '661',
 '656',
 '655',
 '655',
 '650',
 '640',
 '635',
 '312',
 '273',
 '267',
 '261',
 '238',
 '238',
 '235',
 '233',
 '222',
 '779',
 '766',
 '759',
 '747',
 '719',
 '710',
 '707',
 '704',
 '701',
 '727',
 '665',
 '661',
 '656',
 '655',
 '655',
 '650',
 '640',
 '635',
 '312',
 '273',
 '267',
 '261',
 '238',
 '238',
 '235',
 '233',
 '222']

In [71]:
# DATAFRAME REPRESENTATION 

df_batsmen=pd.DataFrame({'---BATSMEN---':batsmen})
df_team=pd.DataFrame({'--TEAM--':team})
df_ratings=pd.DataFrame({'---RATING---':ratings})
print(df_batsmen.head(10))
print(df_team.head(10))
print(df_ratings.head(10))

df_report=pd.DataFrame({'BATSMEN':batsmen,'TEAM':team,'RATINGS':ratings})
print(df_report.head(10))

               ---BATSMEN---
0            \nImam-ul-Haq\n
1  \nRassie van der Dussen\n
2        \nQuinton de Kock\n
3           \nDavid Warner\n
4            \nSteve Smith\n
5         \nJonny Bairstow\n
6            \nVirat Kohli\n
7           \nRohit Sharma\n
8        \nKane Williamson\n
9         \nJosh Hazlewood\n
  --TEAM--
0      PAK
1       SA
2       SA
3      AUS
4      AUS
5      ENG
6      IND
7      IND
8       NZ
9      AUS
  ---RATING---
0          779
1          766
2          759
3          747
4          719
5          710
6          707
7          704
8          701
9          727
                     BATSMEN TEAM RATINGS
0            \nImam-ul-Haq\n  PAK     779
1  \nRassie van der Dussen\n   SA     766
2        \nQuinton de Kock\n   SA     759
3           \nDavid Warner\n  AUS     747
4            \nSteve Smith\n  AUS     719
5         \nJonny Bairstow\n  ENG     710
6            \nVirat Kohli\n  IND     707
7           \nRohit Sharma\n  IND     704
8        \nKane Williamson\n   NZ     701
9         \nJosh Hazlewood\n  AUS     727

In [138]:
# Q5 C) Top 10 ODI bowlers along with the records of their team and rating(SOLVED).
soup_bowler=BeautifulSoup(page_player.content)
soup_bowler
# scraping bowler name
bowler=[]
for i in soup_bowler.find_all('td',class_='table-body__cell name'):
    bowler.append(i.text)
bowler

# scraping bowler country
country=[]
for i in soup_bowler.find_all('span',class_='table-body__logo-text'):
    country.append(i.text)
country

# scraping bowler rating

rating_=[]
for i in soup_bowler.find_all('td',class_='table-body__cell u-text-right rating'):
    rating_.append(i.text)
rating_

['779',
 '766',
 '759',
 '747',
 '719',
 '710',
 '707',
 '704',
 '701',
 '727',
 '665',
 '661',
 '656',
 '655',
 '655',
 '650',
 '640',
 '635',
 '312',
 '273',
 '267',
 '261',
 '238',
 '238',
 '235',
 '233',
 '222',
 '779',
 '766',
 '759',
 '747',
 '719',
 '710',
 '707',
 '704',
 '701',
 '727',
 '665',
 '661',
 '656',
 '655',
 '655',
 '650',
 '640',
 '635',
 '312',
 '273',
 '267',
 '261',
 '238',
 '238',
 '235',
 '233',
 '222']

In [105]:
df_bowler=pd.DataFrame(bowler)
print(df_bowler.head(10))

print('---------------------------')

df_country=pd.DataFrame(country)
print(df_country.head(10))

print('---------------------------')

df_rating_=pd.DataFrame(rating_)
print(df_rating_.head(10))

print('---------------------------')

df_whole=pd.DataFrame({'NAME':bowler,'COUNTRY':country,'RATING':rating_})

print(df_whole.head(10))

                           0
0            \nImam-ul-Haq\n
1  \nRassie van der Dussen\n
2        \nQuinton de Kock\n
3           \nDavid Warner\n
4            \nSteve Smith\n
5         \nJonny Bairstow\n
6            \nVirat Kohli\n
7           \nRohit Sharma\n
8        \nKane Williamson\n
9         \nJosh Hazlewood\n
---------------------------
     0
0  PAK
1   SA
2   SA
3  AUS
4  AUS
5  ENG
6  IND
7  IND
8   NZ
9  AUS
---------------------------
     0
0  779
1  766
2  759
3  747
4  719
5  710
6  707
7  704
8  701
9  727
---------------------------
                        NAME COUNTRY RATING
0            \nImam-ul-Haq\n     PAK    779
1  \nRassie van der Dussen\n      SA    766
2        \nQuinton de Kock\n      SA    759
3           \nDavid Warner\n     AUS    747
4            \nSteve Smith\n     AUS    719
5         \nJonny Bairstow\n     ENG    710
6            \nVirat Kohli\n     IND    707
7           \nRohit Sharma\n     IND    704
8        \nKane Williamson\n      NZ    701
9         \nJosh Hazlewood\n     AUS    727

# Q 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame(SOLVED)

In [139]:
page_imdb=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
print(page_imdb)
soup_imdb=BeautifulSoup(page_imdb.content)
soup_imdb

# scraping multiple titles of Indian movies 

indian_movies=[]
for i in soup_imdb.find_all('td',class_='titleColumn'):
    indian_movies.append(i.text)

indian_movies

# scraping rating

rate=[]
for i in soup_imdb.find_all('td',class_='ratingColumn imdbRating'):
    rate.append(i.text)
    
rate

<Response [200]>

['\n8.5\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n']

In [138]:
# DF CREATING---
df_imdb=pd.DataFrame({'MOVIE NAME':indian_movies,'RATING':rate})
print(df_imdb)

                                            MOVIE NAME   RATING
0    \n      1.\n      Ramayana: The Legend of Prin...  \n8.5\n
1    \n      2.\n      Rocketry: The Nambi Effect\n...  \n8.4\n
2              \n      3.\n      777 Charlie\n(2022)\n  \n8.4\n
3                  \n      4.\n      Golmaal\n(1979)\n  \n8.4\n
4                  \n      5.\n      Nayakan\n(1987)\n  \n8.4\n
..                                                 ...      ...
245           \n      246.\n      Goodachari\n(2018)\n  \n7.7\n
246                  \n      247.\n      Don\n(1978)\n  \n7.7\n
247                 \n      248.\n      Joji\n(2021)\n  \n7.6\n
248              \n      249.\n      Aligarh\n(2015)\n  \n7.6\n
249                   \n      250.\n      Ko\n(2011)\n  \n7.6\n

[250 rows x 2 columns]

# Q 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [142]:
page_imdb_all=requests.get('https://www.imdb.com/list/ls055592025/')
print(page_imdb_all)
soup_imdb_all=BeautifulSoup(page_imdb_all.content)
soup_imdb_all

#scraping multiple movie name of all time 

imdb_all=[]
for i in soup_imdb_all.find_all('h3',class_='lister-item-header'):
    imdb_all.append(i.text)
    

print(imdb_all)


# rating

rating_all=[]
for i in soup_imdb_all.find_all('div',class_='ipl-rating-star small'):
    rating_all.append(i.text)
    
print(rating_all)

<Response [200]>
['\n1.\nThe Godfather\n(1972)\n', '\n2.\nThe Shawshank Redemption\n(1994)\n', "\n3.\nSchindler's List\n(1993)\n", '\n4.\nRaging Bull\n(1980)\n', '\n5.\nCasablanca\n(1942)\n', '\n6.\nCitizen Kane\n(1941)\n', '\n7.\nGone with the Wind\n(1939)\n', '\n8.\nThe Wizard of Oz\n(1939)\n', "\n9.\nOne Flew Over the Cuckoo's Nest\n(1975)\n", '\n10.\nLawrence of Arabia\n(1962)\n', '\n11.\nVertigo\n(1958)\n', '\n12.\nPsycho\n(1960)\n', '\n13.\nThe Godfather Part II\n(1974)\n', '\n14.\nOn the Waterfront\n(1954)\n', '\n15.\nSunset Blvd.\n(1950)\n', '\n16.\nForrest Gump\n(1994)\n', '\n17.\nThe Sound of Music\n(1965)\n', '\n18.\n12 Angry Men\n(1957)\n', '\n19.\nWest Side Story\n(1961)\n', '\n20.\nStar Wars\n(1977)\n', '\n21.\n2001: A Space Odyssey\n(1968)\n', '\n22.\nE.T. the Extra-Terrestrial\n(1982)\n', '\n23.\nThe Silence of the Lambs\n(1991)\n', '\n24.\nChinatown\n(1974)\n', '\n25.\nThe Bridge on the River Kwai\n(1957)\n', "\n26.\nSingin' in the Rain\n(1952)\n", "\n27.\nIt's a Wonderful Life\n(1946)\n", '\n28.\nDr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb\n(1964)\n', '\n29.\nSome Like It Hot\n(1959)\n', '\n30.\nBen-Hur\n(1959)\n', '\n31.\nApocalypse Now\n(1979)\n', '\n32.\nAmadeus\n(1984)\n', '\n33.\nThe Lord of the Rings: The Return of the King\n(2003)\n', '\n34.\nGladiator\n(2000)\n', '\n35.\nTitanic\n(1997)\n', '\n36.\nFrom Here to Eternity\n(1953)\n', '\n37.\nSaving Private Ryan\n(1998)\n', '\n38.\nUnforgiven\n(1992)\n', '\n39.\nRaiders of the Lost Ark\n(1981)\n', '\n40.\nRocky\n(1976)\n', '\n41.\nA Streetcar Named Desire\n(1951)\n', '\n42.\nThe Philadelphia Story\n(1940)\n', '\n43.\nTo Kill a Mockingbird\n(1962)\n', '\n44.\nAn American in Paris\n(1951)\n', '\n45.\nThe Best Years of Our Lives\n(1946)\n', '\n46.\nMy Fair Lady\n(1964)\n', '\n47.\nA Clockwork Orange\n(1971)\n', '\n48.\nDoctor Zhivago\n(1965)\n', '\n49.\nThe Searchers\n(1956)\n', '\n50.\nJaws\n(1975)\n', '\n51.\nPatton\n(1970)\n', '\n52.\nButch Cassidy and the Sundance Kid\n(1969)\n', '\n53.\nThe Treasure of the Sierra Madre\n(1948)\n', '\n54.\nIl buono, il brutto, il cattivo\n(1966)\n', '\n55.\nThe Apartment\n(1960)\n', '\n56.\nPlatoon\n(1986)\n', '\n57.\nHigh Noon\n(1952)\n', '\n58.\nBraveheart\n(1995)\n', '\n59.\nDances with Wolves\n(1990)\n', '\n60.\nJurassic Park\n(1993)\n', '\n61.\nThe Exorcist\n(1973)\n', '\n62.\nThe Pianist\n(2002)\n', '\n63.\nGoodfellas\n(1990)\n', '\n64.\nThe Deer Hunter\n(1978)\n', '\n65.\nAll Quiet on the Western Front\n(1930)\n', '\n66.\nBonnie and Clyde\n(1967)\n', '\n67.\nThe French Connection\n(1971)\n', '\n68.\nCity Lights\n(1931)\n', '\n69.\nIt Happened One Night\n(1934)\n', '\n70.\nA Place in the Sun\n(1951)\n', '\n71.\nMidnight Cowboy\n(1969)\n', '\n72.\nMr. Smith Goes to Washington\n(1939)\n', '\n73.\nRain Man\n(1988)\n', '\n74.\nAnnie Hall\n(1977)\n', '\n75.\nFargo\n(1996)\n', '\n76.\nGiant\n(1956)\n', '\n77.\nShane\n(1953)\n', '\n78.\nThe Grapes of Wrath\n(1940)\n', '\n79.\nThe Green Mile\n(1999)\n', '\n80.\nClose Encounters of the Third Kind\n(1977)\n', '\n81.\nNashville\n(1975)\n', '\n82.\nNetwork\n(1976)\n', '\n83.\nThe Graduate\n(1967)\n', '\n84.\nAmerican Graffiti\n(1973)\n', '\n85.\nPulp Fiction\n(1994)\n', '\n86.\nTerms of Endearment\n(1983)\n', '\n87.\nGood Will Hunting\n(1997)\n', '\n88.\nThe African Queen\n(1951)\n', '\n89.\nStagecoach\n(1939)\n', '\n90.\nMutiny on the Bounty\n(1935)\n', '\n91.\nThe Great Dictator\n(1940)\n', '\n92.\nDouble Indemnity\n(1944)\n', '\n93.\nThe Maltese Falcon\n(1941)\n', '\n94.\nWuthering Heights\n(1939)\n', '\n95.\nTaxi Driver\n(1976)\n', '\n96.\nRear Window\n(1954)\n', '\n97.\nThe Third Man\n(1949)\n', '\n98.\nRebel Without a Cause\n(1955)\n', '\n99.\nNorth by Northwest\n(1959)\n', '\n100.\nYankee Doodle Dandy\n(1942)\n']
['\n\n\n\n\n\n\n\n9.2\n', '\n\n\n\n\n\n\n\n9.3\n', '\n\n\n\n\n\n\n\n9\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.7\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n9\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n8.8\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n9\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n8.6\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n8.6\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8.6\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n9\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n8.6\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n7.2\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.8\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.9\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.8\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n8.7\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n7.8\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8.6\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n7.4\n', '\n\n\n\n\n\n\n\n8.9\n', '\n\n\n\n\n\n\n\n7.4\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n7.8\n', '\n\n\n\n\n\n\n\n7.7\n', '\n\n\n\n\n\n\n\n8.4\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n8\n', '\n\n\n\n\n\n\n\n7.5\n', '\n\n\n\n\n\n\n\n8.2\n', '\n\n\n\n\n\n\n\n8.5\n', '\n\n\n\n\n\n\n\n8.1\n', '\n\n\n\n\n\n\n\n7.6\n', '\n\n\n\n\n\n\n\n8.3\n', '\n\n\n\n\n\n\n\n7.6\n']

In [143]:

# creating DF


df_imdb_all=pd.DataFrame({'MOVIE_NAME':imdb_all})
print(df_imdb_all)

print('--------------------------')

df_rating_all=pd.DataFrame({'RATING':rating_all})
print(df_rating_all)

print('------------------------')

dfx=pd.DataFrame({'MOVIE_NAME':imdb_all,'RATING':rating_all})
print(dfx)

                                  MOVIE_NAME
0              \n1.\nThe Godfather\n(1972)\n
1   \n2.\nThe Shawshank Redemption\n(1994)\n
2           \n3.\nSchindler's List\n(1993)\n
3                \n4.\nRaging Bull\n(1980)\n
4                 \n5.\nCasablanca\n(1942)\n
..                                       ...
95              \n96.\nRear Window\n(1954)\n
96            \n97.\nThe Third Man\n(1949)\n
97    \n98.\nRebel Without a Cause\n(1955)\n
98       \n99.\nNorth by Northwest\n(1959)\n
99     \n100.\nYankee Doodle Dandy\n(1942)\n

[100 rows x 1 columns]
--------------------------
                   RATING
0   \n\n\n\n\n\n\n\n9.2\n
1   \n\n\n\n\n\n\n\n9.3\n
2     \n\n\n\n\n\n\n\n9\n
3   \n\n\n\n\n\n\n\n8.2\n
4   \n\n\n\n\n\n\n\n8.5\n
..                    ...
95  \n\n\n\n\n\n\n\n8.5\n
96  \n\n\n\n\n\n\n\n8.1\n
97  \n\n\n\n\n\n\n\n7.6\n
98  \n\n\n\n\n\n\n\n8.3\n
99  \n\n\n\n\n\n\n\n7.6\n

[100 rows x 1 columns]
------------------------
                                  MOVIE_NAME                 RATING
0              \n1.\nThe Godfather\n(1972)\n  \n\n\n\n\n\n\n\n9.2\n
1   \n2.\nThe Shawshank Redemption\n(1994)\n  \n\n\n\n\n\n\n\n9.3\n
2           \n3.\nSchindler's List\n(1993)\n    \n\n\n\n\n\n\n\n9\n
3                \n4.\nRaging Bull\n(1980)\n  \n\n\n\n\n\n\n\n8.2\n
4                 \n5.\nCasablanca\n(1942)\n  \n\n\n\n\n\n\n\n8.5\n
..                                       ...                    ...
95              \n96.\nRear Window\n(1954)\n  \n\n\n\n\n\n\n\n8.5\n
96            \n97.\nThe Third Man\n(1949)\n  \n\n\n\n\n\n\n\n8.1\n
97    \n98.\nRebel Without a Cause\n(1955)\n  \n\n\n\n\n\n\n\n7.6\n
98       \n99.\nNorth by Northwest\n(1959)\n  \n\n\n\n\n\n\n\n8.3\n
99     \n100.\nYankee Doodle Dandy\n(1942)\n  \n\n\n\n\n\n\n\n7.6\n

[100 rows x 2 columns]

# Q 9.Write a python program to scrape mentioned details from dineout.co.in

In [144]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
print(page)
soup=BeautifulSoup(page.content)
soup
# scraping all titles
titles=[]
for i in soup.find_all('a',class_='restnt-name ellipsis'):
    titles.append(i.text)
print(titles)


# scraping all images link 
images=[]
for i in soup.find_all('img',class_='no-img'):
    images.append(i.get('data-src'))
print(images)


#scraping multiple prices
price=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    price.append(i.text.split('|')[0])
price

#scraping location 

location=[]
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
location

df=pd.DataFrame({'TITLES':titles,'Location':location,'Price':price,'Img_url':images})
df

<Response [200]>
['Castle Barbeque', 'Jungle Jamboree', 'Cafe Knosh', 'Castle Barbeque', 'The Barbeque Company', 'India Grill', 'Delhi Barbeque', 'The Monarch - Bar Be Que Village', 'Indian Grill Room']
['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

,TITLES,Location,Price,Img_url
0,Castle Barbeque,"Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

# Q 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [18]:
page_AI=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles') # REQUESTING FOR WEB ACCESS
page_AI
soup_AI=BeautifulSoup(page_AI.content) # CREATING INSTANCE OF BEAUTIFULSOUP CLASS
soup_AI

#SCRAPING MULTIPLE TITLES

paper_title=[]
for i in soup_AI.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    paper_title.append(i.text)
    
print('PAPER TITLES',paper_title)

print('---------------------------------------------------------------------------------')



# SCRAPING PUBLISHED DATE

published_date=[]
for i in soup_AI.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    published_date.append(i.text)
    
print('PUBLISHED DATE',published_date)
print('----------------------------------------------------------------------------------')

# SCRAPING AUTHOR

author=[]
for i in soup_AI.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    author.append(i.text)
    
print('AUTHORS',author)

print('-------------------------------------------------------------------------------------')
    
# SCRAPING PAPER URL

paper_url=[]
for i in soup_AI.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    paper_url.append(i.get('href'))
    
print('PAPER_URL',paper_url)

print('**************************************************************************************')

PAPER TITLES ['Reward is enough', 'Making sense of raw input', 'Law and logic: A review from an argumentation perspective', 'Creativity and artificial intelligence', 'Artificial cognition for social human–robot interaction: An implementation', 'Explanation in artificial intelligence: Insights from the social sciences', 'Making sense of sensory input', 'Conflict-based search for optimal multi-agent pathfinding', 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning', 'The Hanabi challenge: A new frontier for AI research', 'Evaluating XAI: A comparison of rule-based and example-based explanations', 'Argumentation in artificial intelligence', 'Algorithms for computing strategies in two-player simultaneous move games', 'Multiple object tracking: A literature review', 'Selection of relevant features and examples in machine learning', 'A survey of inverse reinforcement learning: Challenges, methods and progress', 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values', 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models', 'Integrating social power into the decision-making of cognitive agents', "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems", 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies', 'Algorithm runtime prediction: Methods & evaluation', 'Wrappers for feature subset selection', 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics', 'Quantum computation, quantum theory and AI']
---------------------------------------------------------------------------------
PUBLISHED DATE ['October 2021', 'October 2021', 'October 2015', 'August 1998', 'June 2017', 'February 2019', 'April 2021', 'February 2015', 'August 1999', 'March 2020', 'February 2021', 'October 2007', 'August 2016', 'April 2021', 'December 1997', 'August 2021', 'September 2021', 'June 2021', 'December 2016', 'September 2021', 'May 2021', 'January 2014', 'December 1997', 'October 2021', 'February 2010']
----------------------------------------------------------------------------------
AUTHORS ['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ', 'Evans, Richard, Bošnjak, Matko and 5 more', 'Prakken, Henry, Sartor, Giovanni ', 'Boden, Margaret A. ', 'Lemaignan, Séverin, Warnier, Mathieu and 3 more', 'Miller, Tim ', 'Evans, Richard, Hernández-Orallo, José and 3 more', 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ', 'Sutton, Richard S., Precup, Doina, Singh, Satinder ', 'Bard, Nolan, Foerster, Jakob N. and 13 more', 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ', 'Bench-Capon, T.J.M., Dunne, Paul E. ', 'Bošanský, Branislav, Lisý, Viliam and 3 more', 'Luo, Wenhan, Xing, Junliang and 4 more', 'Blum, Avrim L., Langley, Pat ', 'Arora, Saurabh, Doshi, Prashant ', 'Aas, Kjersti, Jullum, Martin, Løland, Anders ', 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ', 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ', 'Riveiro, Maria, Thill, Serge ', 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ', 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ', 'Kohavi, Ron, John, George H. ', 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ', 'Ying, Mingsheng ']
-------------------------------------------------------------------------------------
PAPER_URL ['https://www.sciencedirect.com/science/article/pii/S0004370221000862', 'https://www.sciencedirect.com/science/article/pii/S0004370221000722', 'https://www.sciencedirect.com/science/article/pii/S0004370215000910', 'https://www.sciencedirect.com/science/article/pii/S0004370298000551', 'https://www.sciencedirect.com/science/article/pii/S0004370216300790', 'https://www.sciencedirect.com/science/article/pii/S0004370218305988', 'https://www.sciencedirect.com/science/article/pii/S0004370220301855', 'https://www.sciencedirect.com/science/article/pii/S0004370214001386', 'https://www.sciencedirect.com/science/article/pii/S0004370299000521', 'https://www.sciencedirect.com/science/article/pii/S0004370219300116', 'https://www.sciencedirect.com/science/article/pii/S0004370220301533', 'https://www.sciencedirect.com/science/article/pii/S0004370207000793', 'https://www.sciencedirect.com/science/article/pii/S0004370216300285', 'https://www.sciencedirect.com/science/article/pii/S0004370220301958', 'https://www.sciencedirect.com/science/article/pii/S0004370297000635', 'https://www.sciencedirect.com/science/article/pii/S0004370221000515', 'https://www.sciencedirect.com/science/article/pii/S0004370221000539', 'https://www.sciencedirect.com/science/article/pii/S0004370221000096', 'https://www.sciencedirect.com/science/article/pii/S0004370216300868', 'https://www.sciencedirect.com/science/article/pii/S0004370221000588', 'https://www.sciencedirect.com/science/article/pii/S0004370221000102', 'https://www.sciencedirect.com/science/article/pii/S0004370213001082', 'https://www.sciencedirect.com/science/article/pii/S000437029700043X', 'https://www.sciencedirect.com/science/article/pii/S0004370221000734', 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']
**************************************************************************************

In [23]:
# CREATING DF----
df_AI=pd.DataFrame({'PAPER TITLE':paper_title,'PUBLISHED DATE':published_date,'AUTHORS':author,'URLS OF PAPER':paper_url})
print(df_AI)

                                          PAPER TITLE  PUBLISHED DATE  \
0                                    Reward is enough    October 2021
1                           Making sense of raw input    October 2021
2   Law and logic: A review from an argumentation ...    October 2015
3              Creativity and artificial intelligence     August 1998
4   Artificial cognition for social human–robot in...       June 2017
5   Explanation in artificial intelligence: Insigh...   February 2019
6                       Making sense of sensory input      April 2021
7   Conflict-based search for optimal multi-agent ...   February 2015
8   Between MDPs and semi-MDPs: A framework for te...     August 1999
9   The Hanabi challenge: A new frontier for AI re...      March 2020
10  Evaluating XAI: A comparison of rule-based and...   February 2021
11           Argumentation in artificial intelligence    October 2007
12  Algorithms for computing strategies in two-pla...     August 2016
13      Multiple object tracking: A literature review      April 2021
14  Selection of relevant features and examples in...   December 1997
15  A survey of inverse reinforcement learning: Ch...     August 2021
16  Explaining individual predictions when feature...  September 2021
17  A review of possible effects of cognitive bias...       June 2021
18  Integrating social power into the decision-mak...   December 2016
19  “That's (not) the output I expected!” On the r...  September 2021
20  Explaining black-box classifiers using post-ho...        May 2021
21  Algorithm runtime prediction: Methods & evalua...    January 2014
22              Wrappers for feature subset selection   December 1997
23  Commonsense visual sensemaking for autonomous ...    October 2021
24         Quantum computation, quantum theory and AI   February 2010

                                              AUTHORS  \
0   Silver, David, Singh, Satinder, Precup, Doina,...
1           Evans, Richard, Bošnjak, Matko and 5 more
2                   Prakken, Henry, Sartor, Giovanni
3                                 Boden, Margaret A.
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more
5                                        Miller, Tim
6   Evans, Richard, Hernández-Orallo, José and 3 more
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...
8   Sutton, Richard S., Precup, Doina, Singh, Sati...
9         Bard, Nolan, Foerster, Jakob N. and 13 more
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...
11               Bench-Capon, T.J.M., Dunne, Paul E.
12       Bošanský, Branislav, Lisý, Viliam and 3 more
13             Luo, Wenhan, Xing, Junliang and 4 more
14                      Blum, Avrim L., Langley, Pat
15                   Arora, Saurabh, Doshi, Prashant
16      Aas, Kjersti, Jullum, Martin, Løland, Anders
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.
19                      Riveiro, Maria, Thill, Serge
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...
22                      Kohavi, Ron, John, George H.
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...
24                                   Ying, Mingsheng

                                        URLS OF PAPER
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

# Q 10 .Write a python program to scrape the details of top publications from Google Scholar from

In [147]:
page_gs=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
print(page_gs)

soup_gs=BeautifulSoup(page_gs.content)
soup_gs

# SCRAPING PUBLICATION 

publication=[]
for i in soup_gs.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)
    
print(publication)
print('******************************************************************************')

# scraping rank

rank=[]
for i in soup_gs.find_all('td',class_='gsc_mvt_p'):
    rank.append(i.text)
    
print(rank)

print('**********************************************************************************')


#scraping h5 index

h5_index=[]
for i in soup_gs.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5_index.append(i.text)
    
print(h5_index)

print('-------------------------------------------------------------')


# scraping h5 median

h5_median=[]
for i in soup_gs.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    h5_median.append(i.text)
    
print(h5_median)

print('--------------------------------------------------------------------------------------------')

<Response [200]>
['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Nature Communications', 'Cell', 'International Conference on Learning Representations', 'Neural Information Processing Systems', 'JAMA', 'Chemical Reviews', 'Proceedings of the National Academy of Sciences', 'Angewandte Chemie', 'Chemical Society Reviews', 'Journal of the American Chemical Society', 'IEEE/CVF International Conference on Computer Vision', 'Nucleic Acids Research', 'International Conference on Machine Learning', 'Nature Medicine', 'Renewable and Sustainable Energy Reviews', 'Science of The Total Environment', 'Advanced Energy Materials', 'Journal of Clinical Oncology', 'ACS Nano', 'Journal of Cleaner Production', 'Advanced Functional Materials', 'Physical Review Letters', 'Scientific Reports', 'The Lancet Oncology', 'Energy & Environmental Science', 'IEEE Access', 'PLoS ONE', 'Science Advances', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Nature Genetics', 'BMJ', 'Circulation', 'European Conference on Computer Vision', 'International Journal of Molecular Sciences', 'Nature Materials', 'Chemical engineering journal', 'AAAI Conference on Artificial Intelligence', 'Journal of Materials Chemistry A', 'ACS Applied Materials & Interfaces', 'Nature Biotechnology', 'The Lancet Infectious Diseases', 'Frontiers in Immunology', 'Applied Energy', 'Nano Energy', 'Nature Energy', 'Meeting of the Association for Computational Linguistics (ACL)', 'The Astrophysical Journal', 'Gastroenterology', 'Nature Methods', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Cochrane Database of Systematic Reviews', 'Blood', 'Neuron', 'Nano Letters', 'Morbidity and Mortality Weekly Report', 'European Heart Journal', 'Nature Nanotechnology', 'ACS Catalysis', 'Nature Neuroscience', 'American Economic Review', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Annals of Oncology', 'Nutrients', 'Accounts of Chemical Research', 'Immunity', 'Environmental Science & Technology', 'Nature Reviews. Molecular Cell Biology', 'Gut', 'Physical Review D', 'ACS Energy Letters', 'Monthly Notices of the Royal Astronomical Society', 'Conference on Empirical Methods in Natural Language Processing (EMNLP)', 'Clinical Infectious Diseases', 'Cell Metabolism', 'Nature Reviews Immunology', 'Joule', 'Nature Photonics', 'International Journal of Environmental Research and Public Health', 'Environmental Pollution', 'Computers in Human Behavior', 'Frontiers in Microbiology', 'Nature Physics', 'Small', 'Cell Reports', 'Molecular Cell', 'Clinical Cancer Research', 'Bioresource Technology', 'Journal of Business Research', 'Molecular Cancer', 'Sensors', 'Nature Climate Change', 'IEEE Internet of Things Journal']
******************************************************************************
['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.', '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.', '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.']
**********************************************************************************
['444', '432', '401', '389', '354', '312', '307', '300', '286', '278', '267', '265', '256', '245', '244', '242', '239', '238', '237', '235', '227', '225', '220', '213', '211', '211', '210', '207', '206', '202', '202', '200', '198', '197', '195', '192', '191', '190', '189', '186', '183', '181', '181', '180', '178', '177', '175', '173', '173', '173', '172', '170', '169', '167', '166', '165', '165', '165', '165', '164', '164', '163', '163', '163', '163', '162', '160', '160', '159', '159', '159', '159', '158', '158', '155', '155', '155', '155', '155', '154', '153', '153', '152', '152', '152', '152', '152', '152', '151', '151', '150', '149', '149', '146', '146', '145', '145', '145', '144', '144']
-------------------------------------------------------------
['667', '780', '614', '627', '635', '418', '428', '505', '533', '436', '425', '444', '364', '332', '386', '344', '415', '550', '421', '389', '324', '311', '300', '315', '277', '273', '280', '294', '274', '329', '290', '303', '278', '294', '276', '246', '297', '307', '301', '321', '253', '265', '224', '296', '220', '223', '315', '296', '228', '217', '232', '314', '304', '234', '254', '296', '293', '243', '229', '231', '207', '302', '265', '264', '220', '248', '263', '220', '304', '243', '214', '211', '242', '214', '340', '235', '217', '212', '194', '249', '278', '211', '292', '233', '228', '225', '222', '214', '225', '222', '196', '205', '202', '201', '190', '233', '209', '201', '228', '212']
--------------------------------------------------------------------------------------------

In [52]:

# CREATING DATAFRAME OF ABOVE DATA
df_gs=pd.DataFrame({'RANK':rank,'PUBLICATION':publication,'h5 index':h5_index,'h5_median':h5_median})
df_gs

    RANK                                        PUBLICATION h5 index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

# Q6.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape: a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. b) Top 10 women’s ODI Batting players along with the records of their team and rating. c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [148]:
# SOLUTION OF a)

# requesting web access
page_women=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
print(page_women)

#creating object of class

soup_women=BeautifulSoup(page_women.content)
soup_women

#scraping 

women_team=[]
for i in soup_women.find_all('tr',class_='table-body'):
    women_team.append(i.text)
    
df=pd.DataFrame({'---WOMEN CRICKET TEAM---':women_team})
print(df.head(10))

print('-----------------------------------------------------------------------------------------')

# SOLUTION TO b)

# new page request for women ranking 
page_ranking=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
print(page_ranking) # request

# new instance creation 
soup_ranking=BeautifulSoup(page_ranking.content)
soup_ranking
 
    # women player name scraping 
women_batter=[]
for i in soup_ranking.find_all('td',class_='table-body__cell name'):
    women_batter.append(i.text)

             
df_women_batter=pd.DataFrame({'---WOMEN BATTER----':women_batter})
print(df_women_batter.head(10))

 # women COUNTRY name scraping 

women_country=[]
for i in soup_ranking.find_all('span',class_='table-body__logo-text'):
    women_country.append(i.text)
    
df_wc=pd.DataFrame({'----WOMEN COUNTRY NAME----':women_country})
print(df_wc.head(10))

 # women rating  scraping 

women_rat=[]
for i in soup_ranking.find_all('td',class_='table-body__cell u-text-right rating'):
    women_rat.append(i.text)
    
df_wr=pd.DataFrame({'-----RATING------':women_rat})
print(df_wr.head(10))

print('-----------------------------------------------------------------------------------')
print('-------------------------------------------------WOMEN BATTER LIST-----------------------------------------------------')
df_final=pd.DataFrame({'WOMEN BATTER':women_batter,'COUNTRY':women_country,'RATING':women_rat})
print(df_final.head(10))

print('-----------------------------------------------------------------------------------')

#SOLUTION TO c)

page_ar=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
print(page_ar)
soup_ar=BeautifulSoup(page_ar.content)
soup_ar

 # scraping player name
    
ar_player=[]
for i in soup_ar.find_all('td',class_='table-body__cell rankings-table__name name'):
    ar_player.append(i.text)



 # scraping TEAM
    
team=[]
for i in soup_ar.find_all('span',class_='table-body__logo-text'):
    team.append(i.text)
 
# scraping rating

rating=[]
for i in soup_ar.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
    
print('---------------------------ALL ROUNDER WOMEN PLAYER RATING------------------------------')
df_AR_full=pd.DataFrame({"PLAYER":ar_player,'TEAM':team,'RATING':rating})
df_AR_full.head(10)

<Response [200]>
                        ---WOMEN CRICKET TEAM---
0  \n2\n\n\nSouth Africa\nSA\n\n26\n3,098\n119\n
1      \n3\n\n\nEngland\nENG\n\n25\n2,904\n116\n
2        \n4\n\n\nIndia\nIND\n\n27\n2,820\n104\n
3   \n5\n\n\nNew Zealand\nNZ\n\n24\n2,425\n101\n
4    \n6\n\n\nWest Indies\nWI\n\n24\n2,334\n97\n
5      \n7\n\n\nBangladesh\nBAN\n\n12\n932\n78\n
6         \n8\n\n\nThailand\nTHA\n\n8\n572\n72\n
7      \n9\n\n\nPakistan\nPAK\n\n24\n1,519\n63\n
8        \n10\n\n\nSri Lanka\nSL\n\n8\n353\n44\n
9        \n11\n\n\nIreland\nIRE\n\n14\n548\n39\n
-----------------------------------------------------------------------------------------
<Response [200]>
       ---WOMEN BATTER----
0          \nBeth Mooney\n
1      \nLaura Wolvaardt\n
2       \nNatalie Sciver\n
3     \nHarmanpreet Kaur\n
4      \nSmriti Mandhana\n
5          \nMeg Lanning\n
6       \nRachael Haynes\n
7    \nAmy Satterthwaite\n
8  \nChamari Athapaththu\n
9        \nJess Jonassen\n
  ----WOMEN COUNTRY NAME----
0                        AUS
1                         SA
2                        ENG
3                        IND
4                        IND
5                        AUS
6                        AUS
7                         NZ
8                         SL
9                        AUS
  -----RATING------
0               749
1               732
2               725
3               716
4               714
5               710
6               701
7               661
8               655
9               725
-----------------------------------------------------------------------------------
-------------------------------------------------WOMEN BATTER LIST-----------------------------------------------------
              WOMEN BATTER COUNTRY RATING
0          \nBeth Mooney\n     AUS    749
1      \nLaura Wolvaardt\n      SA    732
2       \nNatalie Sciver\n     ENG    725
3     \nHarmanpreet Kaur\n     IND    716
4      \nSmriti Mandhana\n     IND    714
5          \nMeg Lanning\n     AUS    710
6       \nRachael Haynes\n     AUS    701
7    \nAmy Satterthwaite\n      NZ    661
8  \nChamari Athapaththu\n      SL    655
9        \nJess Jonassen\n     AUS    725
-----------------------------------------------------------------------------------
<Response [200]>
---------------------------ALL ROUNDER WOMEN PLAYER RATING------------------------------

                 PLAYER TEAM RATING
0      \nEllyse Perry\n  AUS    374
1    \nNatalie Sciver\n  ENG    357
2       \nAmelia Kerr\n   NZ    356
3    \nMarizanne Kapp\n   SA    349
4     \nDeepti Sharma\n  IND    322
5  \nAshleigh Gardner\n  AUS    270
6     \nJess Jonassen\n  AUS    246
7    \nJhulan Goswami\n  IND    214
8   \nKatherine Brunt\n  ENG    207
9          \nNida Dar\n  PAK    205

# Q.1. # LIST OF ALL HEADER TAGS

In [112]:
from urllib.request import urlopen

html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs_header = BeautifulSoup(html, "html.parser")
titles = bs_header.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Q.7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :i) Headline ii) Time iii) News Link

In [149]:
from datetime import date
from datetime import time

# NEWS- Tesla CEO Elon Musk kicks off first Semi truck deliveries
page_news=requests.get('https://www.cnbc.com/2022/12/01/tesla-ceo-elon-musk-kicks-off-semi-truck-deliveries.html')
print(page_news)

soup_news=BeautifulSoup(page_news.content)
soup_news

              # scraping headline
headline=soup_news.find('h1',class_='ArticleHeader-headline')
print(headline)
              # time
time=[i.text for i in soup_news.find_all("div",class_="ArticleHeader-time") ] # Scrap Time
print(time)

link=[]
for i in soup_news.find_all('a',class_='ArticleHeader-eyebrow'):
    link.append(i.get('href'))

print(link)

<Response [200]>
<h1 class="ArticleHeader-headline">Tesla CEO Elon Musk kicks off first Semi truck deliveries</h1>
[]
['https://www.cnbc.com/technology/']